.sidebarChats{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #b4b4b4;
}

.sidebarChats:hover{
    background-color: #ebebeb;
    transition: 0.4s;
}

h4{
    font-size: 17px;
    margin-bottom: 8px;
}

.sidebarChats__info{
    margin-left: 15px;
}

a{
    text-decoration: none !important;
    color: #000;
}